/* styles/Card.module.css */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Default: 3 columns on larger screens */
    gap: 16px;
}
  
  /* Responsive layout for smaller screens */
@media screen and (max-width: 768px) {
    .container {
      grid-template-columns: repeat(2, 1fr); /* 2 columns on screens up to 768px wide */
    }
}
  
  /* Responsive layout for even smaller screens */
@media screen and (max-width: 480px) {
    .container {
      grid-template-columns: 1fr; /* 1 column on screens up to 480px wide */
      width: 80vw;
      overflow-x: hidden;
    }
}

.head{
    justify-content: center;
    font-size: 45px;
    font-weight: 700;

    letter-spacing: -2px;
    background: linear-gradient(90deg, #4AB1F1 5.71%, #566CEC 33.77%, #D749AF 61.82%, #FF7C51 91.21%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.comb{
    position: relative;
    background: rgb(239, 202, 152);
    display: grid;
}

.cardDet{
    /* position: relative; */
    background: #554353;
    align-items: left;
    text-align: left;
    padding-left: 10px;
    border-radius: 13px;
    /* max-width: 2rem; */
    min-width: 13rem;
    justify-content: start;
    min-height: 200px;
    max-height: fit-content;
    max-width: 26rem ;
}
.titText{
    font-size: 25px;
    font-weight: 700;

}

.svg_background {
		position: absolute;
		z-index: -10;
		width: 200vw;
		aspect-ratio: 1/1;
		bottom: 50%;
		right: 50%;
		opacity: 10%;
		transform: translate(48.5%, 50%);
		max-inline-size: unset;
		max-block-size: unset;
}
	
.radialContainer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.radialGradient {
    position: absolute;
    right: 50%;
    width: 100%;
    left: unset;
    aspect-ratio: 1/1;
    height: unset;
    bottom: -60%;
    top: -1;
    filter: blur(100px);
    transform: translateZ(0);
    opacity: 20%;
    background: var(--bar-gradient);
    --bar-gradient: radial-gradient( 
    circle, 
    var(--hero-gradient-bg-1) 10%, 
    var(--hero-gradient-bg-2) 24%, 
    var(--hero-gradient-bg-3) 44%, 
    var(--hero-gradient-bg-4) 57%, 
    transparent 70% 
    );
}

	
.barContainer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
}
	
.barGradient {	
    --bar-opacity:0.15; 
    --bar-blend-mode:screen;
    --bar-gradient: linear-gradient( 
    90deg, 
    var(--hero-gradient-bg-1) 10%, 
    var(--hero-gradient-bg-2) 26.88%, 
    var(--hero-gradient-bg-3) 48.46%, 
    var(--hero-gradient-bg-4) 74.51% 
    );
    
    opacity: var(--bar-opacity);
    background-blend-mode: var(--bar-blend-mode);
    background: var(--bar-gradient);
    
    position: absolute;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
    z-index: 0;
    width: 100%;
    bottom: 0;
    height: 100%;
    filter: blur(100px);
    transform: translateZ(0);
}
