@charset "utf-8";
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  color: rgb(228, 200, 124);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  color: rgb(228, 200, 124);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
  color: rgb(228, 200, 124);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
  color: rgb(36, 35, 33);
  font-family: Forum;
}

button {
  color: rgb(243, 240, 230);
}

button:hover {
  color: rgb(105, 89, 37);
}

.container-margin {
  margin: 0.5rem;
}

.container-size {
  max-width: 100%;
}


.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

.carousel-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
}

.carousel-image {
  width: 100%;
  height: auto;
}


.carousel-caption {
  margin-top: 1rem;
}

.carousel-caption h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.carousel-list {
  list-style-type: disc;
  list-style-position: inside;
  margin-top: 0.5rem;
}

.carousel-list li {
  margin-bottom: 0.5rem;
}

.carousel-button {
  border: none;
  border-radius: 4px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.5); /* Translucent background */
  color: black;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-button:hover {
  background-color: rgba(255, 255, 255, 0.8); /* Translucent background on hover */
}

.carousel-container {
  position: relative;
}

.carousel-item {
  position: relative;
}

.carousel-image {
  max-width: 100%;
  height: auto;
}

.carousel-buttons {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.carousel-button {
  border: none;
  border-radius: 8px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.5); /* Translucent background */
  color: black;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 4px;
}

.carousel-caption {
  margin-top: 8px;
  text-align: center;
}

.head1 {
  font-family: 'Sacramento', cursive;
  text-align: center;
  font-size: 2rem;
  color: #000;
}

.head2 {
  text-align: center;
  font-size: 2rem;
  color: #000;
}



.ideas {
  display: flex;
  font-size: 3rem;
  margin-top: 2rem;
  background: url("../../public/background.jpg");

}


.articles {
  display: flex;
  font-size: 3rem;
  margin-top: 2rem;
  background: url("../../public/background.jpg");

}

.paper {
  display: flex;
  font-size: 3rem;
  margin-top: 2rem;
  background: url("../../public/background.jpg");

}

.footer-section {
  display: flex;
  gap: 20px;
}

.section {
  margin-right: 30px; /* Adjust this value to control the space between Explore and Write */
}