@charset "utf-8";
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  color: rgb(228, 200, 124);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  color: rgb(228, 200, 124);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
  color: rgb(228, 200, 124);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
  color: rgb(36, 35, 33);
  font-family: Forum;
}

button {
  color: rgb(243, 240, 230);
}

button:hover {
  color: rgb(105, 89, 37);
}

.container-margin {
  margin: 0.5rem;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

.carousel-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
}

.carousel-caption {
  margin-top: 1rem;
}

.carousel-caption h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.carousel-list {
  list-style-type: disc;
  list-style-position: inside;
  margin-top: 0.5rem;
}

.carousel-list li {
  margin-bottom: 0.5rem;
}

